body {
    color: white;
    background-color: black;
}
section {
    background: yellowgreen;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
img {
    height: 300px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}